# Aula 02 - Python

## Dados numéricos

In [23]:
# Variável inteira - a # é utilizada para fazer comentários sem afetar o código
a = 1 #definindo o valor de a
print('Valor de a = '+str(a)) #print serve para mostrar, entre os ' ' está o que deve mostrar escrito (não comando) e o +str(a) que é para escrever o valor de a
type(a) #serve para escrever o tipo de varável que é "a"

Valor de a = 1

int

In [6]:
# Variável dupla precisão
b = 1.0 #definindo a variável b
print(b) #escrever o valor da variável b
type(b) #serve para escrever o tipo de varável que é "b"

1.0

float

In [7]:
# Converter float para int
c = int(b) #transformar b que era uma variável de dupla precisão em um número inteiro
print(c) #escrever o valor da variável c
type(c) #serve para escrever o tipo de varável que é "c"

1

int

In [9]:
# Delacrando nan
import numpy as np #importando a biblioteca NumPy com o nome np
d = np.nan #definindo a variável d como nan, um valor especial utilizado para representar a falta de um valor numérico
print(d) #escrever a variável d
type(d) #serve para escrever o tipo de varável que é "d"

nan

float

In [10]:
# Operação com NaN
e = d*1 #multiplicando nan com 1
print(e) #escrever a variável e
e = d+1 #somando nan com 1
print(e) #escrever a variável e
e = np.nansum([d,1]) #somando os valores contidos na lista [d, 1], ignorando qualquer valor NaN na operação de soma
print(e) #escrever a variável e

nan
nan
1.0

## Dados numéricos

In [16]:
# Declaração de variável texto
f = 'Fábio' #definindo a variável f como texto (str) com o uso de ''
g = "Gabriel" #definindo a variável g como texto (str) com o uso de "", mostrando que funciona das duas formas de aspas
print(f) #escrever a variável f
print(type(f)) #serve para escrever o tipo de varável que é "f" (conferindo se foi definido como texto)
print(g) #escrever a variável g
print(type(g)) #serve para escrever o tipo de varável que é "g" (conferindo se foi definido como texto)
print(f+g) #escrever as variáveis f e g
print(f+' '+g) #se queremos que mostre f e g escrito separado temos que usar ' ' ou " "

Fábio
<class 'str'>
Gabriel
<class 'str'>
FábioGabriel
Fábio Gabriel

## Dados tipo bool - lógica

In [14]:
a == 1 #verifica se o valor de "a" é igual a 1

True

In [19]:
h = (a==1) #definindo h como a verificação (se o valor de "a" é igual a 1)
print(h) #escrever a variável h
type(h) #serve para escrever o tipo de varável que é "h"

True

bool

In [20]:
h = (a==2) #definindo h como a verificação (se o valor de "a" é igual a 2)
print(h) #escrever a variável h
type(h) #serve para escrever o tipo de varável que é "h"

False

bool

In [21]:
i = True #está atribuindo o valor booleano verdadeiro (True) à variável i
type(i) #serve para escrever o tipo de varável que é "i"

bool

In [22]:
ii = 'True' #está atribuindo à variável f o texto "True", quando usamos '' entende-se que a variável é texto
type(ii) #serve para escrever o tipo de varável que é "ii"

str

## Operação de comparação

In [24]:
# Operação ==
a==b #comparando se a variável "a" é igual a variável "b" definidas anteriormente

True

In [30]:
# Operação ><
a>b #comparando se a variável "a" é maior que a variável "b"

False

In [31]:
# Operação ><
a<b #comparando se a variável "a" é menor que a variável "b"

False

In [32]:
# Operação !=
a!=b #comparando se a variável "a" é diferente da variável "b"

False

In [33]:
# Operação >= ou <=
a>=b #comparando se a variável "a" é maior ou igual a variável "b"

True

## Operações matemáticas

In [34]:
# Soma 
a+b #somando o valor da variável "a" com o valor da variável "b"

2.0

In [35]:
# Soma e atribui valor
ab = a+b #atribuindo o valor da soma à variável "ab"
print(ab) #escrever a variável ab

2.0

In [37]:
# Multiplicação
l = a*b # Não use  como variável 
print("Não use l como nome de variável") #evitar usar a letra "l" como nome de variável por causa da sua semelhança visual com o número "1"
j = a*b #atribuindo o valor da multiplicação da variável a com a variável b à variável "j"
print(j) #escrever a variável j

Não use l como nome de variável
1.0

In [38]:
# Divisão
a/b #dividindo o valor da variável "a" pelo o valor da variável "b"

1.0

In [39]:
# Potencia
5**2 #comando para fazer o cálculo de 5²

25

In [40]:
# Operações matemáticas com a bibliotéca math
import math #importando o módulo math

math.exp(10) #chamando a função exp() desse módulo com o argumento 10

22026.465794806718

In [41]:
math.exp(0) #chamando a função exp() desse módulo com o argumento 0

1.0

In [42]:
math.exp(a) #chamando a função exp() desse módulo com a variável "a"

2.718281828459045

In [43]:
math.exp(-10) #chamando a função exp() desse módulo com o argumento -10

4.5399929762484854e-05

In [44]:
import math as mt #importando o módulo math e o está renomeando como "mt"
mt.log(c) #chamando a função log() desse módulo com a variável "c"

0.0

In [45]:
mt.log10(100) #chamando a função log() desse módulo com o argumento 100

2.0

## Listas

In [46]:
myFirstList = [1,2,3] #criando uma lista chamada "myFirstList" com os elementos 1, 2 e 3
print(myFirstList) #escrever a lista "myFirstList"

[1, 2, 3]

In [47]:
# Acessando valores da lista pelo index
print(myFirstList[0]) #escrever o primeiro elemento da lista "myFirstList"
print(myFirstList[2]) #escrever o terceiro elemento da lista "myFirstList"

1
3

In [48]:
myFirstList==a #comparando se a lista "myFirstList" é igual a variável "a"

False

In [49]:
myFirstList[0]==a #comparando se o primeiro elemento da lista "myFirstList" é igual a variável "a"

True

In [50]:
mySecList = [1,a,'c'] #criando uma lista chamada "mySecList" com os elementos: o número 1, o valor da variável a e o texto (str) 'c'
print(mySecList) #escrever a lista "mySecList"

[1, 1, 'c']

In [51]:
type(mySecList) #serve para escrever o tipo de varável que é "mySecList"

list

In [52]:
type(mySecList[2]) #serve para escrever o tipo de varável que é o terceiro elemento da lista "mySecList"

str

In [53]:
type(mySecList[1]) #serve para escrever o tipo de varável que é o segundo elemento da lista "mySecList"

int

In [54]:
type(mySecList[0]) #serve para escrever o tipo de varável que é o primeiro elemento da lista "mySecList"

int

## Caminhos = path

In [ ]:
path = r"C:\Users\Leonardo.Hoinaski\Documents\ENS410064_1"
print(path)